#fondo {
    background-color: rgb(214, 166, 214);
    border: solid 3px;
    padding: 6px;

    } 
    h1 { 
        text-align: center;
        color:rgb(72, 5, 134);
        background-color: lightcyan;
        padding: 20px;

    }

    legend {
        border-radius: 15px;
        background-color: lightcyan;

    }

    fieldset {
        background-color: rgb(177, 99, 177);
        border:rgb(72, 5, 134);
    }
